name: Release

on:
  push:
    branches: main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install system libraries
        run: sudo apt-get install --assume-yes --no-install-recommends libpcre3-dev librdkafka-dev

      - id: tag
        uses: freckle/haskell-tag-action@v1

      - if: steps.tag.outputs.tag
        run: stack upload --pvp-bounds lower .
        env:
          HACKAGE_KEY: ${{ secrets.HACKAGE_UPLOAD_API_KEY }}
          STACK_YAML: stack-lts20.yaml
